html {
  margin: auto;
  padding: 0;
  background-color: whitesmoke;
  max-width: 75%;
  font-family: "Roboto", sans-serif;
}

input[type="submit"] {
  display: flex;
  margin: inherit;
}

/* Selecti setit */

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #d8dad8;
  background-image: none;
  flex: 1;
  padding: 0 0.5em;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
}

#refresh {
  width: fit-content;
  margin: 2rem auto auto auto;
  display: flex;
}

#tomorrow {
  background-image: url(./img/arrowpng.parspng.com-5.png);
  background-size: contain;
}
#yesterday {
  background-image: url(./img/arrowpng.parspng.com-5.png);
  background-size: contain;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.day-btn {
  height: 3rem;
  min-width: 3rem;
}
#update {
  background-image: url(./img/Refresh_icon.svg);
  background-size: contain;
  height: 2rem;
  width: 2rem;
  border-radius: 5px;
  border: black 1px solid;
  margin-top: 0.2rem;
}
#update-btn {
  margin-left: 1rem;
}
#update-text {
  margin: auto;
}
#last-updated {
  font-weight: bold;
}
select::-ms-expand {
  display: none;
}
#day-switch {
  margin: 1rem auto auto auto;
}
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #000000;
  overflow: hidden;
  border-radius: 0.25em;
}

.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #606160;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}

.select:hover::after {
  color: #ffffff;
}

#reservations-ul {
  padding: 1rem;
  border: 1px solid black;
  list-style: none;
  margin-top: 3rem;
}

#reservations-ul li {
  border: 1px solid black;
  padding: 2rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: lightcyan;
}

#reservations-ul li:not(:first-child) {
  margin-top: 2rem;
}

#reservations-ul:empty {
  display: none;
}

#drop-menu {
  width: flex;
  margin: 2rem auto 2rem auto;
}

#today-date {
  width: fit-content;
  margin: 0 auto 0.5rem auto;
  font-size: 1.5rem;
}

#date-div {
  display: flex;
  justify-content: space-around;
  margin: auto auto 2rem auto;
}
#date-and-room {
  display: flex;
  flex-direction: column;
}
#caledar-div {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  padding: 25px;
  max-width: 100vw;
  box-sizing: border-box;
  background-color: whitesmoke;
}

#date-room {
  margin: 0 auto 0 auto;
}

#month-view {
  float: right;
}

#date-buttons {
  width: fit-content;
  margin: 2rem auto auto auto;
}

#room {
  width: fit-content;
  margin: 0 auto 0.5rem auto;
  font-size: 1.5rem;

}

#date-buttons button {
  padding: 1rem;
  font-size: 1rem;
}

#toggle-calendar {
  margin-bottom: 1rem;
  float: right;
}
#weekdays {
  display: none;
  justify-content: space-between;
  margin-right: 50px;
  overflow-x: scroll;
  direction: ltr;
}
.weekday {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 85px;
  z-index: 3;
  position: relative;
  font-size: 1rem !important;
  background: none;
  color: #000000;
  border: none;
}
#mon {
  grid-area: 1 / 1 / 61;
}
#tue {
  grid-area: 1 / 2 / 61;
}
#wed {
  grid-area: 1 / 3 / 61;
}
#thu {
  grid-area: 1 / 4 / 61;
}
#fri {
  grid-area: 1 / 5 / 61;
}
#last-updated-div {
  width: fit-content;
  margin: 2rem auto auto auto;
}
#color-calendar {
  display: block;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #6670bf;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* #day-switch {

  display: none;
} */
#day-switch p {
  margin: 0 10px;
}
#last-updated-div {
  width: fit-content;
  margin: 2rem auto auto auto;
}
.dayview-cell {
  font-size: 1rem;
  min-width: 85px;
}
#drop-menu {
  width: flex;
  margin: 1rem auto 1rem auto;
}
#yesterday {
  background-color: indianred;
  border: 1px;
  border-radius: 0.5rem;
  margin-right: 2rem;
}
#today {
  border: 1px;
  background-color: lightblue;
  border-radius: 0.5rem;
  margin-right: 2rem;
  min-width: 5rem;
    transform: translateY(-2px);
}
#tomorrow {
  background-color: lightgreen;
  border: 1px;
  border-radius: 0.5rem;
}
#refresh {
  margin: 0 auto auto auto;
}
    #day-switch {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1rem auto auto auto;
    }






@media screen and (min-width: 600px) {

  /* #room {
    position: absolute;
    top: 0;
    margin: 1rem auto auto 0;
    display: block;
  }
  #today-date {
    position: absolute;
    top: 0;
    margin: 4rem auto auto 0;
  } */
  #date-room {
    margin-left: auto;
    overflow: hidden;

  }
  /* #refresh {
    position: absolute;
    top: 0;
    margin: 8rem auto auto 0;
  } */

}

@media screen and (max-width: 1350px) {
  #month-view {
    display: none;
  }
  #date-buttons {
    display: flex;
  }
  #today {
    transform: translateY(0px);
  }
  #date-and-room {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  #room-date {
    margin-left: auto;
  }
}
/* kännykälle sopivat setit */
@media screen and (max-width: 900px) {
  html {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
  }

  body {
    padding: 0;
    margin: 0 0.5rem auto 0.5rem;
  }

  #date-div {
    display: block;
    margin: auto auto 0.5rem auto;
  }

  #today {
    transform: translateY(0px);
  }

  #date-buttons {
    display: flex;
    width: fit-content;
    margin: 1rem auto 1rem auto;
  }

  #date-buttons button {
    padding: 3%;
    width: 100%;
  }

  #today-date {
    font-size: 1.5rem;
  }

  /* nappula ja kuukausikalenteri pitää kikkailla johonkin väliin */
  #color-calendar {
    display: none;
  }

  /* #toggle-calendar {
    display: none;
  } */

  /* */
  #calendar-div {
    padding: 0;
    width: 100%;
  }

  #date-and-room {
    flex-direction: column;
    justify-content: center;
  }

  #room-date {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    width: 90%;
    justify-content: center;
  }

}
