html {
  margin: auto;
  padding: 0;
  background-color: whitesmoke;
  max-width: 75%;
  font-family: "Roboto", sans-serif;
}

input[type=submit] {
  display: flex;
  margin: inherit;
}

/* Selecti setit */

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #d8dad8;
  background-image: none;
  flex: 1;
  padding: 0 .5em;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}

select::-ms-expand {
  display: none;
}

.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #000000;
  overflow: hidden;
  border-radius: .25em;
}

.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #606160;
  cursor: pointer;
  pointer-events: none;
  transition: .25s all ease;
}

.select:hover::after {
  color: #ffffff;
}

#reservations-ul {
  padding: 1rem;
  border: 1px solid black;
  list-style: none;
  margin-top: 3rem;
}

#reservations-ul li {
  border: 1px solid black;
  padding: 2rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: lightcyan;
}

#reservations-ul li:not(:first-child) {
  margin-top: 2rem;
}

#reservations-ul:empty {
  display: none;
}

#rooms-form {
  width: fit-content;
  margin: 2rem auto 2rem auto;
}

#today-date {
  width: fit-content;
  margin: 0 auto 2rem auto;
  font-size: 3rem;
}

#date-div {
  display: flex;
  margin: auto auto 2rem auto;
}

#caledar-div {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  padding: 25px;
  max-width: 100vw;
  box-sizing: border-box;
  background-color: whitesmoke;
}

#date-room {
  margin: 0 auto 0 auto;
  width: 50%;
}

#month-view {
  float: right;
}

#date-buttons {
  width: fit-content;
  margin: 2rem auto auto auto;
}

#room {
  width: fit-content;
  margin: 0 auto 0 auto;
  font-size: 2rem;
}

#date-buttons button {
  margin: 0 2rem 0 2rem;
  padding: 1rem;
  font-size: 1rem;
}

#toggle-calendar {
  margin-bottom: 1rem;
  float: right;
}
#weekdays {
  display: none;
  justify-content: space-between;
  margin-right: 50px;
  overflow-x: scroll;
  direction: ltr;
}
.weekday {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 85px;
  z-index: 3;
  position: relative;
  font-size: 1rem !important;
  background: none;
  color:#000000;
  border: none;
}
#mon {
  grid-area: 1 / 1 / 61;
}
#tue {
  grid-area: 1 / 2 / 61;
}
#wed {
  grid-area: 1 / 3 / 61;
}
#thu {
  grid-area: 1 / 4 / 61;
}
#fri {
  grid-area: 1 / 5 / 61;
}
/* kännykälle sopivat setit */
@media screen and (max-width: 900px) {
  html {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
  }

  body {
    padding: 0;
    margin: 0;
  }

  #date-div {
    display: block;
  }

  #date-room {
    width: 100%;
  }

  #date-buttons {
    display: flex;
    width: fit-content;
    margin: 1rem auto 1rem auto;
  }

  #date-buttons button {
    padding: 3%;
    margin: 0;
    font-size: smaller;
    width: 100%;
  }

  #date-buttons button:not(:last-child) {
    margin-right: 1rem;
  }

  #today-date {
    font-size: 2rem;
    margin: 0 auto 0 auto;
  }

  /* nappula ja kuukausikalenteri pitää kikkailla johonkin väliin */
  #color-calendar {
    display: none;
  }

  #toggle-calendar {
    display: none;
  }

  /* */
  #calendar-div {
    margin-top: 2rem;
    padding: 0;
    width: 100%;
  }
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #6670bf;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#day-switch {
  display: flex;
  justify-content: center;
  align-items: center;
}
 #day-switch p {
  margin: 0 10px;
 }
